/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
/**
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
*/

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

.leftMenuButton{
	height:40px;
	width:150px;
}

.footer{
	text-align:center;
	background-color:gray;
	clear:both;
}

.Labels{
	width:460px;
}

td.labels{
	width:150px;
	height:30px;
}
select.ListBoxSuurused{
	width:150px;
}

.Haaleta{
	width:60px;
	background:#7CCCF1;
	border-color:#7CCCF1;
}

.HaaletaOver{
	color:#FFFFFF;
	width:60px;
	background:#7CCCF1;
	border-color:#7CCCF1;
}

.HaaletaOut{
	color:#000000;
	width:60px;
	background:#7CCCF1;
	border-color:#7CCCF1;
}

.HaaletaFocus{
	color:#404040;
	width:60px;
	background:#7CCCF1;
	border-color:#7CCCF1;
}

div.sisuMinuKonto{
	border:1px solid #7CCCF1;
	height:590px;
	width:540px;
	float:right;
}

table.minukontoLabel{
	width:530px;
	border:2px solid #7CCCF1;
}

tr.minukontoTr{
	text-align:left;
}

th.minukontoTh{
	width:100px;
	height:30px;
	border-bottom:2px solid #7CCCF1;
}

td.minukontoTd{
	width:100px;
	height:30px;
}
td.minukontoTd.alus{
	border-bottom:1px solid #7CCCF1;
}

td.minukontoNupp{
	width:100px;
	height:30px;
}

.suurNupp{
	width:100px;
	background:#7CCCF1;
	border-color:#7CCCF1;
}

.kandideeriOver{
	color:#FFFFFF;
	width:100px;
	background:#7CCCF1;
	border-color:#7CCCF1;
}

.kandideeriOut{
	color:#FFFFFF;
	width:100px;
	background:#7CCCF1;
	border-color:#7CCCF1;
}

.kandideeriFocus{
	color:#FFFFFF;
	width:100px;
	background:#7CCCF1;
	border-color:#7CCCF1;
}

.otsinguLahter{
	color:#FFFFFF;
	background:#7CCCF1;
	border-color:#7CCCF1;
	width:95px;
}

.otsinguLahterOnFocus{
	color:#000000;
	background:#FFFFFF;
	border-color:#7CCCF1;
	width:95px;
}

.otsinguLahterOnBlur{
	color:#FFFFFF;
	background:#7CCCF1;
	border-color:#7CCCF1;
	width:95px;
}

.sorteeri{
	width:500px;
	height:20px;
}
.logimisLahter{
	color:#FFFFFF;
	background:#7CCCF1;
	border-color:#7CCCF1;
	width:140px;
}

.logimisLahter.onFocus{
	background:#FFFFFF;
	color:#000000;
}

.logimisLahter.onBlur{
	background:#7CCCF1;
	color:#FFFFFF;
}

.loginNupp{
	background:#7CCCF1;
	border-color:#7CCCF1;
}

.loginNupp.mouseOver{
	color:#FFFFFF;
}

.loginNupp.mouseOut{
	color:#000000;
}

.loginNupp.onFocus{
	color#404040;
}

.loginNupp.onBlur{
	color:#000000;
}

.valimisListBox{
	width:150px;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

#Kogu{
	width:700px;
	margin:0 auto;
}

#PÃ¤is{
	width:700px;
	height:100px;
}
#Logo{
	width:700px;
	height:100px;
}

#Logimisriba{
	height:30px;
	width:700px;
	float:left;
}

#Tuhi{
	width:155px;
	height:30px;
	float:left;
}

#Kasutaja{
	width:150px;
	height:30px;
	float:left;
}

#Parool{
	width:150px;
	height:30px;
	float:left;
}

#Nupp{
	width:150px;
	height:30px;
	float:left;
}

#Facebook{
	width:95px;
	height:30;
	float:left;
}

#TÃ¼hista{
	width:60px;
	background:#7CCCF1;
	border-color:#7CCCF1;
}

#kaart{
	width:488px;
	height:305px;
}

#VasakMenu{
	height:600px;
	width:150px;
	float:left;
}

#kogu{
	width:700px;
	margin:0 auto;
}