/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
/**
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
*/

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

.leftMenuButton{
	height:40px;
	width:150px;
}

.footer{
	text-align:center;
	background-color:gray;
	clear:both;
}

.Labels{
	width:460px;
}

td.labels{
	width:150px;
	height:30px;
}
input.ListBoxSuurused{
	width:150px;
}

.Haaleta{
	width:60px;
	background:#7CCCF1;
	border-color:#7CCCF1;
}

.HaaletaOver{
	color:#FFFFFF;
	width:60px;
	background:#7CCCF1;
	border-color:#7CCCF1;
}

.HaaletaOut{
	color:#000000;
	width:60px;
	background:#7CCCF1;
	border-color:#7CCCF1;
}

.HaaletaFocus{
	color:#404040;
	width:60px;
	background:#7CCCF1;
	border-color:#7CCCF1;
}

div.sisu{
	border:1px solid #7CCCF1;
	height:auto;
	width:540px;
	float:right;
}
.sisu.prindi{
	float:left;
}

.sisu{
	display:none;
}
.sisu#sisuPealeht {
	display:block;
}

table.minukontoLabel{
	width:530px;
	border:2px solid #7CCCF1;
}

tr.minukontoTr{
	text-align:left;
}

.tulemusedLahter{
	width: 536px;
	border: 1px solid #7CCCF1;
}

table.myTable 
{ border-collapse:collapse;
width: 530px; }

table.myTable td, table.myTable th 
{ border:1px solid #7CCCF1;padding:3px; }

th.minukontoTh{
	width:100px;
	height:30px;
	border-bottom:2px solid #7CCCF1;
}

td.minukontoTd{
	width:100px;
	height:30px;
}
td.minukontoTd.alus{
	border-bottom:1px solid #7CCCF1;
}

td.minukontoNupp{
	width:100px;
	height:30px;
}

.minukontoBox{
	width:100px;
	background-color: #7CCCF1;
}

.suurNupp{
	width:100px;
	background:#7CCCF1;
	border-color:#7CCCF1;
}

.kandideeriOver{
	color:#FFFFFF;
	width:100px;
	background:#7CCCF1;
	border-color:#7CCCF1;
}

.kandideeriOut{
	color:#000000;
	width:100px;
	background:#7CCCF1;
	border-color:#7CCCF1;
}

.kandideeriFocus{
	color:#404040;
	width:100px;
	background:#7CCCF1;
	border-color:#7CCCF1;
}

.otsinguLahter{
	color:#FFFFFF;
	background:#7CCCF1;
	border-color:#7CCCF1;
	width:95px;
}

.minuKontoRed{
	background: RED;
}
.minuKontoNorm{
	background: #7CCCF1;
 }


.otsinguLahterOnFocus{
	color:#000000;
	background:#FFFFFF;
	border-color:#7CCCF1;
	width:95px;
}

.otsinguLahterOnBlur{
	color:#FFFFFF;
	background:#7CCCF1;
	border-color:#7CCCF1;
	width:95px;
}

.sorteeri{
	width:550px;
	height:20px;
}
.logimisLahter{
	color:#FFFFFF;
	background:#7CCCF1;
	border-color:#7CCCF1;
	width:140px;
}

.logimisLahter.onFocus{
	background:#FFFFFF;
	color:#000000;
}

.logimisLahter.onBlur{
	background:#7CCCF1;
	color:#FFFFFF;
}

.loginNupp{
	background:#7CCCF1;
	border-color:#7CCCF1;
}

.loginNupp.mouseOver{
	color:#FFFFFF;
}

.loginNupp.mouseOut{
	color:#000000;
}

.loginNupp.onFocus{
	color#404040;
}

.loginNupp.onBlur{
	color:#000000;
}

.valimisListBox{
	width:150px;
	
}

.loading{
	text-align: center;
	display: none;
	margin: 0 auto;
}

/** Set ids using widget.getElement().setId("idOfElement") */


#Hojatus{
	color:red;
}
#Edukas{
	color: green;
}

#closeButton {
  margin: 15px 6px 6px;
}

#Kogu{
	width:700px;
	margin:0 auto;
}

#PĆ�Ā¤is{
	width:700px;
	height:100px;
}
#Logo{
	width:700px;
	height:100px;
}

#Logimisriba{
	height:30px;
	width:700px;
	float:left;
}

#Tuhi{
	width:155px;
	height:30px;
	float:left;
}

#Kasutaja{
	width:150px;
	height:30px;
	float:left;
}

#Parool{
	width:150px;
	height:30px;
	float:left;
}

#Nupp{
	width:80px;
	height:30px;
	float:left;
}
#NuppV{
	width:80px;
	height:30px;
	float:left;
	display:none;
}
#valedandmed{
	width:120px;
	height:30px;
	float:left;
	color:red;
	display:none;
	margin-top: -15px;
}
#Facebook{
	width:35px;
	height:30;
	float:left;
}

#TĆ�Ā¼hista{
	width:60px;
	background:#7CCCF1;
	border-color:#7CCCF1;
}

#kaart{
	width:488px;
	height:305px;
}

#VasakMenu{
	height:300px;
	width:150px;
	float:left;
}

#kogu{
	width:700px;
	margin:0 auto;
}

#TulemusedSorteering{
	display:none;
}

table.isikVaade { 
	border-collapse:separate;
	border-spacing: 5px;
	width: 540px; 
	margin-left: auto;
	margin-right: auto;
}
	
table.isikVaade td{ 
	border:1px solid #000000;
	width: 200px;
}
	
table.isikVaade th{ 
	border:1px solid #000000;
	background-color: #7CCCF1;
	width:200px;
}
	
#TagasiNupp{
	width:150px;
	height:30px;
	float:right;
}
#PaisTeade{
	height:20px;
	width:700px;
	float:left;
	color:red;
	text-align:center;
	border: 1px solid red;
}
#JalusTeade{
	height:40px;
	width:698px;
	float:left;
	color:red;
	text-align:center;
	border: 1px solid red;
}
#TuhiRida{
	height:2px;
	width:700px;
	float:left;
}
.VasakMenuList{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	
}
.joon{
	color:#7CCCF1;
	background:#7CCCF1;
	height:2px;
}
#Logitud{
	display:none;
}